[project]
name = "{{ distribution_name }}"
version = "0.1.0"
description = "{{ project_description }}"
authors = [
    {name = "{{ author_name }}", email = "{{ author_email }}"},
]
dependencies = [
    "numpy>=2.0",
    "scipy>=1.14",
    "matplotlib>=3.9",
    "joblib>=1.4"
]
requires-python = "{{ requires_python }}"
readme = "README.md"
license = {text = "{{ copyright_license }}"}
keywords = []
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research"
]
{% if init_github or include_docs %}
[project.urls]
{% if init_github %}Repository = "https://github.com/{{ repository_namespace }}/{{ project_name }}.git"{% endif %}
{% if include_docs %}Documentation = "https://{{ repository_namespace }}.github.io/{{ project_name }}/"{% endif %}
{% endif %}
[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[tool.pdm]
{% if is_distributable %}distribution = true
{% else %}distribution = false{% endif %}

[tool.ruff.lint]
select = ['E', 'F', 'I']

[tool.ruff]
line-length = 120
extend-exclude = ["*.ipynb"]

[tool.commitizen]
version_scheme = "pep440"
version_provider = "pep621"
version_files = [{% if is_distributable %}"src/{{ import_name }}.__init__.py:__version__"{% endif %}]
update_changelog_on_bump = true
tag_format = "v$version"
changelog_file = "CHANGELOG.md"
changelog_incremental = true
changelog_merge_prerelease = true
major_version_zero = true
annotated_tag = true
post_bump_hooks = ["git push --follow-tags"]

[tool.pdm.scripts]
bump = "cz bump {args} --changelog-to-stdout > RELEASE.md"
copier = "python _copier_cli.py {args}"
{% if init_github %}setup_github = '{{ github_setup_cmd }}'
{% else %}setup_github = 'clear'{% endif %}
{% if is_distributable %}test = "pytest --cov={{ import_name }} --cov-report html:htmlcov tests"{% endif %}
{% if include_docs %}docs = "mkdocs serve"{% endif %}
{% if is_distributable %}lint = "ruff check src tests {args}"{% endif %}

[tool.pdm.dev-dependencies]
dev = [
    "copier>=9.3",
    "ruff>=0.6",
    "pre-commit>=3.8",
    "commitizen>=3.29"
]
{% if is_distributable %}test = [
    "pytest>=7.4",
    "pytest-cov>=4.1",
]{% endif %}
{% if include_docs %}doc = [
    "mkdocs>=1.5",
    "mkdocs-material>=9.5",
    "mkdocstrings[python]>=0.24",
    "markdown-exec[ansi]>=1.9",
    "mkdocs-gen-files>=0.5",
    "mkdocs-literate-nav>=0.6",
    "mkdocs-redirects>=1.2",
    "mkdocs-git-committers-plugin-2>=2.3",
    "mkdocs-git-revision-date-localized-plugin>=1.2",
    "mkdocs-coverage>=1.0",
]{% endif %}
