name: Build and publish
on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    {% if python_manager == 'pdm' %}- uses: pdm-project/setup-pdm@v4
      with:
        cache: true{% endif -%}
    {%- if python_manager == 'uv' %}- uses: astral-sh/setup-uv@v7
      with:
        version: "0.10.8"
        enable-cache: true
    - run: uv python install{% endif %}
    - run: {{ python_manager }} build
    - uses: actions/upload-artifact@v4
      with:
        name: python-package-distributions
        path: dist/

  pypi-release:
    name: Publish to PyPI
    needs:
    - build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/{{ distribution_name }}
    permissions:
      id-token: write  # trusted publishing
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: python-package-distributions
        path: dist/
    - uses: pypa/gh-action-pypi-publish@release/v1

  github-release:
    name: Github release
    needs:
    - build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: astral-sh/setup-uv@v7
      with:
        version: "0.10.8"
        enable-cache: true
    - uv tool install commitizen
    - name: Create release notes
      run: uv tool run --from commitizen cz changelog $(uv tool run --from commitizen cz version --project) --dry-run > body.md
    - uses: actions/download-artifact@v4
      with:
        name: python-package-distributions
        path: dist/
    - uses: ncipollo/release-action@v1
      with:
        bodyFile: body.md
        name: {% raw %}${{ github.ref_name }}{% endraw %}
        artifacts: {% raw %}${{ github.workspace }}/dist/*{% endraw %}
